* {
    text-decoration: none !important;
    font-family: sans-serif;
    transition: 0.5s;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --light-bg-color: #fff;
    --dark-bg-color: #000;
}

input {
    box-shadow: none !important;
}

body {
    background-color: #eee;

}

.colorWarning {
    color: rgb(242, 178, 59);

}

/* Header */
.link {
    color: rgb(242, 178, 59);
    font-size: 18px;
    font-weight: 800;
}

.link:hover {
    color: rgba(242, 178, 59, 0.8);
}

nav .active {
    color: #ffffff;
    font-size: 18px;
}

.z-index {
    z-index: 1000000;
}

.h0 {
    height: 0;
}

.h45px {
    height: 45px;
}

.top-- {
    top: -200px;
}

/* home */
.home {
    width: 100%;
    height: calc(90vh);
}

.imgHome {
    background-image: url(./assets/h-bg.jpg);
    background-size: cover;

}

.caverSurah {
    border: solid 2px black;
}
.pageLoading{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loadingSpinner{
    width: 25rem ;
    height: 25rem !important;
  }